table {
    padding-bottom: 1rem;
}

.data-table {
    padding: 1rem;
    width: 51vw !important;

}
@media (max-width: 1260px) {
    .data-table {
        width: 70vw !important; 
    }
  }
select {
    margin-left: 0.5rem;
    padding: 2px;
}

.table-header * {
    background-color: rgba(0, 0, 0, 0.555) !important;
    color: white !important;   
}

.table-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
    font-weight: 700;

}

.table-arrows span {
    font-weight: 900;
    font-size: 1rem;
    padding: 0 .5rem .15rem .5rem;
    /* border: 1px solid rgba(0, 0, 0, 0.555); */
    border-radius: 5px;
    margin: 1px;
   
}
.table-name:hover, .show-curs:hover {
    cursor: pointer;
}


.table-arrows span:hover {

    cursor: pointer;
    color: rgba(61, 59, 59, 0.685);
}
.totalNo {
    font-size: 0.75rem;
    font-weight: 500;
}
.no-data td {
    vertical-align: top !important;
    
}
.sort-arrow {
    position: absolute;
    background-color: transparent !important;
    right: 2px;

}